.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogItem {
    padding: 10px;
}

.dialogItem .active {
    color: gold;
}

.dialogs {

}

.messages {
    padding: 10px;
}

.message {
    color: gold;
}